body {
    background: #b276f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 20px 30px;
    border: none;
    background: #4e1f85;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.stop {
    background: #ff4757;
}

.btn:hover {
    background: #6a3ea9;
    transform: scale(1.05);
}

.stop:hover {
    background: #ff3742;
    transform: scale(1.05);
}

